/.bashrc
/.config
/.pp_backup
/.python_history
/.xsession-errors.old
/Downloads
/github_pat.txt
/logs
/lookupnick.txt
/mc_verified.txt
/memecount.txt.save
/Menu4.5.0.dll
/Menu5.0.0.dll
/Menu5.1.0.dll
/Menu5.1.2.dll
/Menu5.4.0.dll
/Menu5.5.0.dll
/Menu5.8.0.dll
/Menu5.9.0.dll
/pscp.exe
/sync-in.bat
/sync-out.bat
/sync.bat
/Videos
/whatis.txt